<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device_width, initial_scale=1.0">
		<meta charset="utf_8">
		<title>Forgot Password</title>
		<link rel = "icon" href ="../img/coin.png" type = "image/x-icon">
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<nav>
			<div class="logo"><center><img src="../img/coin.png"></center></div>
				</nav>		
		<div class="container">
			<form class="form" id="forgot_Password" method="POST" action="/reset_password">
				<h1 class="form_title">Forgot Password</h1>
				<div class="form_message form_message_error"></div>
				<div class="form_input_group">
					<input type="text" class="form_input" name="uname" autofocus placeholder="E-mail">
					<div class="email_error"></div>
				</div>
				<button class="form_button">Send Verification Mail</button>
				<p class="form_text">
					<a class="form_link" href="/signup">SignUp</a>
					<a class="form_link" href="/login">Login</a>
				</p>
			</form>
		</div>
		<script src="../js/main.js"></script>
	</body>
	<script>		
		const form =document.getElementById("forgot_Password");
		const emailError = document.querySelector('.email_error');  		
		  form.addEventListener("submit", async (e) => {
			e.preventDefault();
			// reset errors			
			emailError.textContent = '';			
			// get values
			const email = form.uname.value;						
			try {
			  const res = await fetch('/forgot_password', { 
				method: 'POST', 
				body: JSON.stringify({ email}),
				headers: {'Content-Type': 'application/json'}				
			  });			  
			  const data = await res.json();					  
			  console.log(data);
			  if (data.errors)
			   {
				emailError.textContent = data.errors.email;				
				}
			  if(data.email)
			  {
					console.log(1);					
					location.assign("/verify/"+data.email);
			  }
			}
			catch (err) 
			{
				console.log(2);					
				console.log(err);			  
			}
		  });
	</script>


</html>