<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device_width, initial_scale=1.0">
		<meta charset="utf_8">
		<title>Reset Password</title>
		<link rel = "icon" href ="../img/coin.png" type = "image/x-icon">
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<nav>
			<div class="logo"><center><img src="../img/coin.png"></center></div>
				</nav>		
		<div class="container">
			<form class="form" id="reset_password" method="POST" action="/reset_password">
				<h1 class="form_title">Reset Password</h1>
				<div class="form_message form_message_error"></div>
				<div class="form_input_group">
					<input type="password" class="form_input" id="signupPassword" name="password" autofocus placeholder="Password"><br>
				<div class="form_input_group">
					<input type="password" class="form_input"  name="cpassword" id="signupPassword" autofocus placeholder="Confirm Password">
					<div class="password_error"></div>
				</div>
				<button class="form_button">Reset Password</button>
				<p class="form_text">					
				</p>
			</form>
		</div>
		<script src="../js/main.js"></script>
	</body>
	<script>		
		const form =document.getElementById("reset_password");
		const passwordError = document.querySelector('.password_error');				
		  form.addEventListener("submit", async (e) => {
			e.preventDefault();
			// reset errors			
			passwordError.textContent = '';
			// get values		
			const password=form.password.value;
			const cpassword=form.cpassword.value;			
			const token='<%=tokenId%>';
			console.log(token);
			try {				
				
			  const res = await fetch('/reset_password/'+token, { 
				method: 'POST', 
				body: JSON.stringify({password,cpassword}),
				headers: {'Content-Type': 'application/json'}
			  });
			  const data = await res.json();			  
			  console.log(data.errors);
			  if (data.errors) {
				passwordError.textContent = data.errors.password;
			  }
			  if (data.user) {
				location.assign('/');
			  }
			}
			catch (err) {
			  console.log(err);
			}
		  });
	</script>


</html>

