<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device_width, initial_scale=1.0">
		<meta charset="utf_8">
		<title>Verification</title>
		<link rel = "icon" href = "../img/coin.png" type = "image/x-icon">
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<nav>
			<div class="logo"><center><img src="../img/coin.png"></center></div>
				</nav>		
		<div class="container">
			<center><h1>Verification Link Sent</h1></center>
		</div>
		<script src="../js/main.js"></script>
	</body>

</html>